body {
  background: #7b7fe5;
  font-family: arial;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #fff;
  font-family: verdana;
  margin-top: 0;
  text-align: center;
  font-size: 25px;
}

.maindiv {
  color: black;
  width: 300px;
  padding: 35px;
  border-radius: 50px;
  box-shadow: 20px 20px 60px #5c5fac, -20px -20px 60px #9a9fff;
  text-align: center;
}

.calc {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  text-align: initial;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: 1px solid #91c9ff;
  outline: none;
  transition: 1s ease-in-out;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1s ease-in-out;
  background: #4f95da;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}
